@model dynamic
@using Umbraco.Web.Templates

@if (Model.value != null)
{
    <div class="panel-group" id="accordion-generic" role="tablist" aria-multiselectable="false">
        @foreach (var item in Model.value)
        {
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading_@Model.value.IndexOf(item)">
                    <h4 class="panel-title">
                        <a class="@(Model.value.IndexOf(item) == 0 ? "" : "collapsed")"
                           data-toggle="collapse"
                           data-parent="#accordion" href="#collapse_@Model.value.IndexOf(item)"
                           aria-expanded="@(Model.value.IndexOf(item) == 0 ? "true" : "false")"
                           aria-controls="collapse_@Model.value.IndexOf(item)">
                            @item.title.value
                        </a>
                    </h4>
                </div>
                <div id="collapse_@Model.value.IndexOf(item)"
                     class="panel-collapse collapse @(Model.value.IndexOf(item) == 0 ? "in" : "")"
                     role="tabpanel"
                     aria-labelledby="heading_@Model.value.IndexOf(item)">
                    <div class="panel-body">
                        @item.content.value
                    </div>
                </div>
            </div>
        }
    </div>
}
