@model dynamic
@using Umbraco.Web.Templates

@if (Model.value != null)
{
    
    <div id="carousel-generic" class="carousel slide" data-ride="carousel">
            
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @foreach (var item in Model.value)
            {
                <li data-target="#carousel-example-generic" data-slide-to="@Model.value.IndexOf(item)" class="@(Model.value.IndexOf(item) == 0 ? "active" : "")"></li>
            }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @foreach (var item in Model.value)
            {
                <div class="item @(Model.value.IndexOf(item) == 0 ? "active" : "")">
                    <img src="@(item.image.value.ToString() != "" ? item.image.value : "http://lorempixel.com/1200/600/sports/" + (Model.value.IndexOf(item) + 1))" alt="@item.title.value">
                    <div class="carousel-caption">
                        <h3>@item.title.value</h3>
                        <p>@item.summary.value</p>
                    </div>
                </div>
            }
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

}
